<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artesanía</title>
    <link rel="stylesheet" href="style.css">
    <!--Font awesomw cdn link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="icon" href="images/Logo-artesania.png">
</head>
<body>

    <div class="layout">

         
        <!--Header-->
        <header class="header">

            <img src="images/Logo-artesania.png" alt="" class="logo">
            
            <nav class="navbar">
                <a th:href="@{/}">HOME</a>
                <a href="#productos">PRODUCTOS</a>
                <a th:href="@{/seleccion-registro}">REGISTRO</a>
                <a th:href="@{/login}">LOGIN</a>
            </nav>

             <!--Botón de menú-->
            <div id="menu-btn" class="fas fa-bars"></div>
            

        </header>


        <!--Contenedor-->
        <main class="contenedor">

            <div class="home" id="home">
                <div class="box">
                    <h1>Hecho a mano en los andes peruanos</h1>
                    <p>Elegimos a nuestros artesanos uno a uno en función de la calidad y originalidad de sus productos.</p>
                </div>

                <div class="imageHome">
                    <img src="images/Home-image.png" alt="">
                </div>
            </div>

            <div class="productos" id="productos">

                <h1>PRODUCTOS</h1>

                    <div class="box-container">

                        <div class="box">
                            <img src="images/producto-1.png" alt="">
                            <p class="precio">s/30.00</p>
                        </div>

                        <div class="box">
                            <img src="images/producto-2.png" alt="">
                            <p class="precio">s/20.00</p>
                        </div>

                        <div class="box">
                            <img src="images/producto-3.png" alt="">
                            <p class="precio">s/50.00</p>
                        </div>

                        <div class="box">
                            <img src="images/producto-4.png" alt="">
                            <p class="precio">s/45.00</p>
                        </div>
                    </div>


            </div>

        </main>



        <footer class="footer">
                <div class="box-container">
                    <div class="box">
                        <img src="images/Logo-artesania.png" alt="">
                    </div>

                    <div class="box">
                        <h3>Síguenos</h3>
                        <a href="#"><i class="fab fa-facebook"></i>facebook</a>
                        <a href="#"><i class="fab fa-instagram"></i>instagram</a>
                    </div>

                    <div class="box">
                        <h3>Servicios</h3>
                        <a href="#home"><i class="fas fa-check"></i>Home</a>
                        <a href="#productos"><i class="fas fa-check"></i>Productos</a>
                        <a href="SeleccionRegistro.html"><i class="fas fa-check"></i>Registro</a>
                        <a href="login.html"><i class="fas fa-check"></i>Login</a>
                    </div>
                    
                </div>

                <div class="credit"><span>creado por mr.Grupo | todo los derechos reservado</span> </div>

        </footer>

    </div>

    
 <script src="script.js"></script>

</body>
</html>